@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --cor-do-rodape: #022601;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    min-height: 150px;
    padding: 20px;
    margin-bottom: 80px;
    color: aliceblue;
    text-align: center;
    font-family: "Passion One";
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
}
header h1{
    font-size: 3.8em;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
}
header a{
    color: aliceblue;
    font-size: 1.2em;
    text-decoration: none;
    font-family: "Sriracha";
}
header a:hover{
    text-decoration: underline;
}

main{
    font-family: "Sriracha";
    font-size: 2em;
}
main p{
    max-width: 400px;
    line-height: 50px;
    margin-top: 60px;
    padding: 10px;
}

div#container1{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: black;
    background-image: url(/desafio/cordel/pacote-d012/imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    height: 98vh;
}

p.conteudo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.29);
    color: aliceblue;
    top: 20%;
}

div#container2{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: black;
    background-image: url(/desafio/cordel/pacote-d012/imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right center;
    height: 98vh;
}

footer{
    background-color: var(--cor-do-rodape);
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer a{
    text-decoration: none;
    color: aliceblue;
}
footer a:hover{
    text-decoration: underline;
}